
body {
	background-color: #FDEDEC;
	margin-left: 25px;
	margin-right: 25px;
}

p { 
	margin: 60px;
	position: relative;
	font-family: georgia;
	font-size: 30px;
	color: black; 
	line-height: 1.5;
}

h1 {
	margin: 30px;
	font-family: georgia; 
	font-weight: bold;
	color: black; 
	font-size: 50px;
	text-align: left;
}

h2 {
	margin: 30px;
	font-family: dancing script;
	font-size: 50px;
	color: black;
}

@media screen
	and (max-device-height: 800px)
	and (min-device-width: 320px) 
	and (orientation: portrait) {

		body {
			background-color: #B7DEDE;
			margin-left: 10px;
			margin-right: 10px;

		}

		p {
			font-size: 15px;
			line-height: 1.5;
			margin: 10px}

		h1 {
			font-size: 25px;
			margin: 0px;
		}	

		h2 {
			font-size: 25px}	

	}

	