
body { 
	background-color: white;
	font-family: rouge script; 
}

p { 
	margin: 50px;
	font-size: 250%;
	color: grey; 
}

h1 {
	margin: 100px;
	font-family: rouge script; 
	font-weight: bold;
	color: black; 
	font-size: 350%;
	text-align: left;
}
