
body { 
	background-color: black;
}

p { 
	margin: 80px;
	font-family: courier;
	font-size: 150%;
	color: white; 
}

h1 {
	margin: 50px;
	font-family: helvetica; 
	font-weight: bold;
	color: yellow; 
	font-size: 300%;
	text-align: left;
}
